<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atena psico</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="barra-nav">
        <div id="arriba"> <!--logo-->
            <a href="../index.html">
                <img src="../img/logo atenea.jpg" alt="">
            </a>

        </div>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li><a href="./terapias.html">Terapias</a></li>
                <li><a href="./especialidades.html">Especialidades</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <section class="equipo">
            <h1>Nuestro equipo de psicólogos ​</h1>
        </section>

        

    </main>
    
    <footer class="pie">
        <div class="pie-items">
            <a class="pie-items-a" href="../index.html">
                <img src="../img/logo atenea.jpg" alt="Logo">
            </a>
        </div>
        <div class="pie-items">
            <h4><strong>CONTACTO</strong></h4>
            <p>CONSULTAS@QUIEROUNASESION.COM</p>
            <P>+549 1122394900 </P>
        </div>
        <div class="pie-items">
            <h4><strong>REDES</strong></h4>
            <a class="pie-items-redes" href="https://www.instagram.com/ezeandrada12/?hl=es" target="_blank">
                <img   src="../img/Instagram.png" alt="Instagram" >
            </a>
            <a class="pie-items-redes" href="https://www.facebook.com/Ezequiel.Boca.juniors.12/" target="_blank">
                <img  src="../img/Facebook.png" alt="Facebook">
            </a>
            <a class="pie-items-redes" href="https://www.linkedin.com/in/ruben-andrada-00b696131/" target="_blank">
                <img src="../img/LinkedIn.png" alt="Linkedin">
            </a>
        </div>
        <div class="pie-items">
            <ul>
                <li>
                    <a href="../index.html"><strong>Inicio</strong></a>
                </li>
                <li><a href="./terapias.html"><strong>Terapias</strong></a></li>
                <li><a href="./especialidades.html"><strong>Especialidades</strong></a></li>
                <li><a href="./nosotros.html"><strong>Nosotros</strong></a></li>
                <li><a href="./contacto.html"><strong>Contacto</strong></a></li>
            </ul>
        </div>


    </footer>
</body>
</html>