<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atena psico</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="barra-nav">
        <div id="arriba"> <!--logo-->
            <a href="../index.html">
                <img src="../img/logo atenea.jpg" alt="">
            </a>

        </div>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li><a href="./terapias.html">Terapias</a></li>
                <li><a href="./especialidades.html">Especialidades</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <section class="fondo-nosotros" >
            <h1>QUIÉNES SOMOS</h1>
        </section>



        <section class="nosotros">
            <div class="nosotros-items nosotros-titulo">
            <h2 >
                <b>Conectamos personas
                    que buscan un/a especialista de
                    salud y/o bienestar con su mejor opción.
                </b>
            </h2>
            </div>
            <div class="nosotros-items nosotros-1">
                <h3><b>¿Qué hacemos?</b> </h3>
                <p>
                    Ofrecemos conectar a la persona con un/a especialista que esté buscando, dentro del ámbito de salud y bienestar, de todo tipo de terapias (convencionales y holísticas).
                    
                    Una vez que la persona completa nuestro formulario con sus preferencias, hacemos una búsqueda personalizada dentro de nuestra base de datos y matcheamos. Una vez que el profesional nos confirma que quiere y puede tomar el caso, le damos los datos y el profesional se contacta con la persona para coordinar. Una vez que conectamos a ambas personas, todo acuerdo es entre esas dos partes.
                </p> 
            </div>
            <div class="nosotros-items nosotros-2">
                <h3><b>Equipo de Psicólogos</b> </h3>
                <p>
                    Gracias a que nuestro equipo de psicólogos tiene una amplia variedad de enfoques terapéuticos, la clínica psicología <b>Atena</b> esta capacitada para atender a una variedad amplia de pacientes con
                    distintas necesidades. Te invitamos a que conozcas a cada uno de los perfiles con los que contamos. Esperamos que puedas encontrar lo que buscas con nosotros. 
                </p>
            </div>
            <div class="nosotros-items nosotros-3">
                <h3><b>Misión</b></h3>
                <p>Somos un equipo con dos objetivos claros:</p>
                <p>
                    1. Que buscar un profesional de salud o bienestar sea una buena experiencia. Sabemos que, muchas veces, cuando  se busca algo de esto, se está atravesando un momento de crisis, y queremos facilitar esa búsqueda a la persona, encontrando alguien que se adecúe a sus preferencias.</p>
                <p>
                    2. Por otro lado, sabemos que para los espe cialistas es un poco complicado conseguir nuevos consultantes. Hay boca a boca pero no tanta, o hacer propia publicidad
                    también lleva mucho tiempo y dinero, por lo que queremos ofrecer una opción en la que nos deleguen esa parte a nosotros.
                </p>
            </div>
        </section>

        

    </main>
    
    <footer class="pie">
        <div class="pie-items">
            <a class="pie-items-a" href="../index.html">
                <img src="../img/logo atenea.jpg" alt="Logo">
            </a>
        </div>
        <div class="pie-items">
            <h4><strong>CONTACTO</strong></h4>
            <p>CONSULTAS@QUIEROUNASESION.COM</p>
            <P>+549 1122394900 </P>
        </div>
        <div class="pie-items">
            <h4><strong>REDES</strong></h4>
            <a class="pie-items-redes" href="https://www.instagram.com/ezeandrada12/?hl=es" target="_blank">
                <img   src="../img/Instagram.png" alt="Instagram" >
            </a>
            <a class="pie-items-redes" href="https://www.facebook.com/Ezequiel.Boca.juniors.12/" target="_blank">
                <img  src="../img/Facebook.png" alt="Facebook">
            </a>
            <a class="pie-items-redes" href="https://www.linkedin.com/in/ruben-andrada-00b696131/" target="_blank">
                <img src="../img/LinkedIn.png" alt="Linkedin">
            </a>
        </div>
        <div class="pie-items">
            <ul>
                <li>
                    <a href="../index.html"><strong>Inicio</strong></a>
                </li>
                <li><a href="./terapias.html"><strong>Terapias</strong></a></li>
                <li><a href="./especialidades.html"><strong>Especialidades</strong></a></li>
                <li><a href="./nosotros.html"><strong>Nosotros</strong></a></li>
                <li><a href="./contacto.html"><strong>Contacto</strong></a></li>
            </ul>
        </div>


    </footer>
</body>
</html>